<div class="card">
    <div class="card-header">
        <h1 style="text-align: center;">Fill in details to book Slot</h1>
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submitForm() ">

            <label for="time">Select shopping time(in mins):  </label>
            <select name="time" id="time" [formControlName]="'duration'">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="40">40</option>
    <option value="50">50</option>
    <option value="60">60(1 hr)</option>
  </select>
            <br>

            <label>Choose type:  </label>
            <select name="mall_name" id="mall_name" [formControlName]="'type'">
        <option value="fasttrack">fasttrack</option>
        <option value="normal">normal</option>
      </select>
            <br>
            <input type="date" id="input" class="form-control" [formControlName]="'date'" Input />
            <input type="time" id="input" class="form-control" [formControlName]="'time'" Input />
            <button class="btn  btn-primary">Submit</button>
        </form>
    </div>
</div>