<form [formGroup]="form" (ngSubmit)="submitForm() ">

    <label for="time">Select shopping time(in mins):</label>
    <select name="time" id="time" [formControlName]="'time'">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="40">40</option>
    <option value="50">50</option>
    <option value="60">60(1 hr)</option>
  </select>
    <br>

    <label>Choose type:</label><br>
    <select name="mall_name" id="mall_name" [formControlName]="'type'">
        <option value="fasttrack">fasttrack</option>
        <option value="normal">normal</option>
      </select>
    <br>
    <button class="btn  btn-primary">Submit</button>
</form>