<h1 style="text-align: center;">Where it started</h1>
<p>Just like everyday my dad said me to bring some groceries. As I stepped out (in a low and distant voice) my mom said it’s too hot outside don’t go out, then my father replied that it won’t take much time for him to get groceries. I started walking to
    the supermarket. To my utter astonishment there was a huge line outside the supermarket, executives saying that they can’t allow so many people at once into the supermarket due to the pandemic. After a while, I just realised how well educated and
    mannered we be , we can’t withstand standing hours in a line. Soon the people got near and near without even maintaining social distancing , then I just saw an old woman who was standing in the line bearing the scorching sun bore down on a landscape
    of gravel dirt and rock. She seems to be very weak that she may get unconscious if she would stand for few more minutes. Not only that lady, but many people were waiting in the line irrespective of the item they want to buy. This took me to think
    about the idea of ONLINE SLOT BOOKING FOR SUPERMARKET which further extended to BANK SLOT BOOKING.</p>
<br>
<br>
<h1 style="text-align: center;"> Solution</h1>
<p>By our website, people would be able to book slots for their visit to supermarket and also for banks. This enables them to manage their time efficiently and also protect themselves to a greater extent from engaging to outside atmosphere while maintaining
    social distancing effectively. This website when comes into effect it would be beneficial for people who are not only living in the cities but also for the people living far away.(As supermarkets are being started in many districts as part of their
    expansion programme)</p>