<div class="top-container">
    <div class="x">
        <h1 style="background-color: aquamarine;">SCOUPON</h1>
    </div>
</div>
<div class="middle-container">
    <div class="profile">
        <h2>ABOUT US</h2>
        <p class="intro">We utilized technology to make no-wait policy applicable in daily life .</p>
    </div>
    <hr>
    <div class="profile">
        <p class="intro">Our website helps users to book a slot to visit supermarkets, banks and hospitals instead of waiting in long queues outside the respective place while wasting their valuable time and deteriorating self health conditions due to outside harmful
            atmosphere.
        </p>
    </div>
    <hr>

    <div class="skills">
        <div style="margin-bottom: 10rem;" class="skill-row">
            <img class="images/ds-algo" alt="vision" width="150px" height="150px">
            <h3>Our Vision</h3>
            <h4>TO ENSURE SAFE AND FAST WORKING</h4>
            <p>We now offer service to public that enables them to save time while maintaining social distancing effectively.</p>
        </div>
        <div class="skill-row">
            <img class="lang" src="slot2.png" alt="mission" width="150px" height="150px">
            <h3>Our Mission</h3>
            <p>Scoupon is committed to serving our clients for quite a long time. We have a mission to serve the customer to the maximum and keep them secure and give the best service in terms of slot booking.</p>
        </div>
        <hr>

        <div class="skills">
            <h2>Let's Connect</h2>
            <div class="awards">
                <h3>You can send us your valueable feedback and improvements if any by going to our Contact Us page.</h3>
            </div>


        </div>
        <hr>
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <p>Waiting to connect with you soon :)</p>
        </div>
    </div>