<!-- <form [formGroup]="form">
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <h4>mat-select</h4>
            <mat-form-field appearance="fill">
                <mat-label>Choose an option</mat-label>
                <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form> -->
<!-- <mat-form-field appearance="fill"> -->
<div class="card align-self-center">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="card-header align-self-center">
            <h2 style="text-align: center;">Select Your Supermarket to Book Slot</h2>
        </div>
        <div class="card-body align-self-center">
            <mat-label style="text-align: center;">Choose a Location:</mat-label>
            <br>
            <select id="orders" [formControlName]="'location'" (change)="updateName()">
        <option *ngFor="let order of locs; let i = index" [value]="locs[i].locid" >
          {{locs[i].name}}
        </option>
      </select>
            <br>
            <mat-label>Choose a market:</mat-label>
            <br>
            <select id="orders" [formControlName]="'id'">
    <option *ngFor="let order of markets; let i = index" [value]="markets[i].marketid" >
        {{markets[i].market_name}}
      </option>
   </select>
            <br>
            <button type="submit" class="btn  btn-primary">Submit</button>
        </div>
    </form>

</div>
<!-- </mat-form-field> -->