<p>mallshomepage works!
    Here html code
</p>
<div class="container">
    <div class="row">
        <div class="col-12 align-self-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title jumbotron centre">Bookslot for Mall</h5>
                    <h6 class="card-subtitle mb-2 text-muted centre">Save your time and be safe</h6>
                    <p class="card-text centre">Select your mall to proceed</p>
                    <div class="centre">
                        <a mat-button><i class="material-icons centre"  (click)="navigateTomallslist()"style="font-size:48px;color:pink"></i></a>
                        <a mat-button><i class="fa fa-map-marker fa-lg"  (click)="navigateToGooglemaps()" style="font-size:48px;color:blue"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile><img src="../assets/images/mall_hall.jpg" height=200></mat-grid-tile>
        <mat-grid-tile><img src="../assets/images/mall_hall1.jpg" height=200></mat-grid-tile>
        <mat-grid-tile><img src="../assets/images/clothing_store.jpg" height=200></mat-grid-tile>
        <mat-grid-tile><img src="../assets/images/jewellery_store.jpg" height=200></mat-grid-tile>
    </mat-grid-list>