/*#test*/

.center {
    align-self: center;
}

.card-header {
    background-color: #7cfc00;
    text-align: center;
    color: white;
}

.card-title {
    text-align: center;
}

.button {
    background-color: #00FF00;
}