.footer {
    background: #46a023;
    padding: 2em;
}

.header_back .navbar {
    background: #a0d172;
    color: white;
}

.navbar-brand {
    background: #a0d172;
    color: white;
}

.navbar {
    background: #46a023;
    color: white;
}

.nav-item {
    color: white;
}

.footer {
    position: relative;
    height: 50px;
    background: #46a023;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.button {
    background-color: #00FF00;
}