<header>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark header_back" style="background-color: #212121;">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/params/images/logo/logo_org.png" width="50" height="50" alt="ganatan">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">
                        <i class="fas fa-home mr-1"></i>home
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/about">
                        <i class="far fa-question-circle mr-1"></i>About
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/contact">
                        <i class="fas fa-envelope mr-1"></i>Contact
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/signin">
                        <i class="fas fa-user mr-1"></i>Sign in
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="navlink" routerLink="reference">
                        <i class="fab fa-question-circle mr-1">Reference</i>
                    </a>

                </li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</main>
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-center text-white">&copy; 2020 - www.scoupon.com</p>
                </div>
            </div>
        </div>
    </div>
</footer>