<div class="container">
    <div class="row">
        <div class="col-12 align-self-center centre">
            <button mat-raised-button color="primary">Primary</button>
        </div>
    </div>
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile><img src="../assets/images/apple.jpg" height=200></mat-grid-tile>
        <mat-grid-tile><img src="../assets/images/orange.jpg" height=200></mat-grid-tile>
        <mat-grid-tile><img src="../assets/images/mango.jpg" height=200></mat-grid-tile>
        <mat-grid-tile><img src="../assets/images/apple.jpg" height=200></mat-grid-tile>
        <mat-grid-tile><img src="../assets/images/apple.jpg" height=200></mat-grid-tile>
        <mat-grid-tile><img src="../assets/images/apple.jpg" height=200></mat-grid-tile>
        <mat-grid-tile><img src="../assets/images/apple.jpg" height=200></mat-grid-tile>
        <mat-grid-tile><img src="../assets/images/apple.jpg" height=200></mat-grid-tile>
        <mat-grid-tile><img src="../assets/images/apple.jpg" height=200></mat-grid-tile>
    </mat-grid-list>
</div>