<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4">
            <div class="card">
                <img class="card-img-top" src="../assets/images/banks.jpg" height=300 alt="Card image cap">
                <div class="card-body align-self-center">
                    <h2>BANKS</h2>
                    <button type="button" (click)=navigateToBankHome() class="btn btn-primary">
                        Bookslot
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card">
                <img class="card-img-top" src="../assets/images/supermarket.jpg" height=300 alt="Card image cap">
                <div class="card-body align-self-center">
                    <h2>SUPERMARKETS</h2>
                    <button type="button" (click)="navigateToSuperHome()" class="btn btn-primary">
                            Bookslot
                    </button>
                </div>
            </div>
        </div>



        <div class="col-12 col-sm-4">
            <div class="card">
                <img class="card-img-top" src="../assets/images/hospital.jpg" height=300 alt="Card image cap">
                <div class="card-body align-self-center">
                    <h2>HOSPITALS</h2>
                    <button type="button" (click)="navigateToHospitalHome()" class="btn btn-primary">
                        Bookslot
                    </button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" (click)="fetchDetails()">Test</button>
    <app-tasks>

    </app-tasks>
</div>