<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="../assets/images/banks.jpg" height=400 alt="Card image cap">
                <div class="card-body align-self-center">
                    <h2>BANKS</h2>
                    <button type="button" style="background-color: #00FF00;" (click)=navigateToBankHome() class="btn btn-primary">
                        Bookslot
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="../assets/images/supermarket.jpg" height=400 alt="Card image cap">
                <div class="card-body align-self-center">
                    <h2>SUPERMARKETS</h2>
                    <button type="button" style="background-color: #00FF00;" (click)="navigateToSuperHome()" class="btn btn-primary">
                            Bookslot
                    </button>
                </div>
            </div>
        </div>




    </div>

    <app-tasks>

    </app-tasks>
    <app-googlemaps3></app-googlemaps3>
</div>